<div class="modal-wrapper" id="add-user-modal">
  <div class="modal">
    <a href="#" onclick="closeModal()" class="modal-close">+</a>
    <div class="modal-title">
      <h2>Create New User</h2>
    </div>
    <div class="modal-body">
      <form method="post" enctype="multipart/form-data" id="add-user-form">
        <input type="text" placeholder="enter name" name="name" />
        <p class="error name-error"></p>

        <input type="text" placeholder="enter email" name="email" />
        <p class="error email-error"></p>

        <input type="text" placeholder="enter mobile" name="mobile" />
        <p class="error mobile-error"></p>

        <input type="password" placeholder="enter password" name="password" />
        <p class="error password-error"></p>

        <input type="file" name="avatar" />
        <p class="error avatar-error"></p>

        <p class="error common-error"></p>

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>

<script>
  const modal = document.querySelector("#add-user-modal");
  const form = document.querySelector("#add-user-form");

  // success toast
  const successToast = Toastify({
    text: "User was added successfully! Reloading the list.....",

    duration: 4000,
  });

  function closeModal() {
    modal.style.display = "none";
  }
  function openModal() {
    modal.style.display = "block";
  }

  form.onsubmit = async function (event) {
    event.preventDefault();

    const errorplaceholder = document.querySelectorAll("p.error");

    for (let i = 0; i < errorplaceholder.length; i++) {
      errorplaceholder[i].style.display = "none";
    }

    const input_placeholders = document.querySelectorAll("input.error");

    if (input_placeholders.length > 0) {
      for (let index = 0; index < input_placeholders.length; index++) {
        input_placeholders[index].classList.remove("error");
      }
    }
    // prepare the form data
    const formData = new FormData(form);
    //console.log(formData);

    // send the request to server
    let response = await fetch("/users", {
      method: "POST",
      body: formData,
    });

    // get response
    let result = await response.json();

    // handle error and response
    if (result.errors) {
      Object.keys(result.errors).forEach((fieldName) => {
        // add error class to all input
        form[fieldName].classList.add("error");

        //add all user placeholder (p tag) textContent
        const error_placeholder = document.querySelector(`.${fieldName}-error`);
        error_placeholder.textContent = result.errors[fieldName].msg;

        error_placeholder.style.display = "block";
      });
    } else {
      // sucess

      successToast.showToast();
      closeModal();
      document.querySelector("p.error").style.display = "none";

      // reloading the page after 1 second
      setTimeout(() => {
        location.reload(1);
      }, 1000);
    }
  };
</script>
